

.logo a {
    color: white;
    background: transparent;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none;
}
.display {
    width : 250px;
    height: 250px;
    border-radius: 50%;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    margin-bottom: 50px;
}
.icons {
    text-decoration: none;
}
.linkedin {
    margin-left: 200px;
    margin-bottom: 100px;
}
.github {
    margin-left: 70px;
    margin-bottom: 100px;
    margin-right: 50px;
}
.twitterx {
    margin-left: 50px;
    margin-bottom: 100px;
}
.facebook {
    margin-left: 70px;
    margin-bottom: 100px;
}
.introContainer {
    padding-top: 100px;
    padding-bottom: 30px;
}
.intro {
    justify-content: center;
    width: 600px;
    height: 180px;
    border: 2px solid white;
    padding: 40px;
    text-align: justify;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}
.intro h1 {
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.intro p {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    line-height: 25px;
    font-size: medium;
}
.nav {
    background-color: transparent;
    overflow: hidden;
}
.nav-bar {
    list-style-type: none;
    padding : 0;
    margin-left: 90px;
}
.nav-list {
    float:left;
    margin-left: 180px;
}
.nav-list a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px 18px;
    padding-left: 25px;
    text-decoration: none;
}

.nav-list a:hover {
    width: 80px;
    background: #DA4453; 
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  
    background: linear-gradient(to right, #89216B, #DA4453); 
    color: black;
    border-radius: 25px; 

}
.header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
} 
.education {
    margin-top: 80px;
    border-radius: 40px;
    border-width: 2px;
    width: 450px;
    height: 300px;
    border-color: black;
    color: black;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);    
    padding-top: 0.1px;
    margin-left: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}
.edu-title {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
.edu-skills {
    display: -webkit-inline-box;
}
.edu-loc {
    margin-top: 3px;
    color: #555; 
    font-style: italic;
    font-size: medium;
}
.edu-pro {
    margin-top: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
.edu-per {
    margin-top: 3px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}
.top-edu {
    margin-top: 10px;
}
.education h2 {
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.edu-details {
    margin-left: 20px;
}
.experience {
    color: whitesmoke;
}
.experience h2 {
    margin-top: 40px;
    text-align: center;
}
.experience-card {
    margin-top: 20px;
    border-radius: 40px;
    border-width: 2px;
    width: 700px;
    height: 300px;
    border-color: black;
    color: black;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);    
    padding-top: 0.1px;
    margin-left: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}
.experience-title {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
    margin-top: 20px;
}
.experience-date {
    margin-top: 3px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}
.experience-container {
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
.exp-data {
    margin-bottom: 10px;
}
.scroll-exp {
    width: 700px;
    border-radius: 25px;
    height: 300px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #333 #ddd;
}
.projects {
    color:whitesmoke
}
.projects h2 {
    text-align: center;
}
.lang {
    align-items: center;
}
.skill-label {
    margin-left: 10px;
    font-weight: bold;
}
.skill-bar-container {
    background-color: #d5d1d1;
    height: 20px;
    width: 90%;
    position: relative;
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 25;
    margin-right: 15px;
    border-radius: 25px;
}
.skill-bar {
    background: #DA4453; 
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  
    background: linear-gradient(to right, #89216B, #DA4453); 
    height: 100%;
    width: 70%; 
    border-radius: 25px;
}
.scroll {
    width: 450px;
    border-radius: 25px;
    height: 300px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #333 #ddd;
}
.footer h3 {
    color: white;
}
.footer p {
    font-size: 20px;
    align-items: end;
    text-align: right;
    color: white;
}
.footer {
    justify-content: space-between;
    align-items: center;
}
.footer h3 {
    margin-left: 10px;
}
.footer p {
    font-size: medium;
    margin-left: 300px;
    margin-top: 20px;
}